<router-outlet></router-outlet>

<h1>Ponto Mais Fácil</h1>

<button (click)="marcarPonto()">Marcar Ponto</button>


<table>
  <thead>
    <tr>
      <th>Entrada</th>
      <th>Saída</th>
      <th>Minutos</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of pontos; let i = index">
      <td>{{ data.entrada | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>{{ data.saida | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>{{ formatarHoras(data.minutos) }}</td>
      <td><button (click)="excluirPonto(i)">Excluir</button></td>
    </tr>
  </tbody>
</table>

<h2>Total de Tempo: {{ formatarHoras(totalMinutos) }}</h2>